body {
  padding: 20px;
}

.evidence-lib input {
  margin-right: 12px;
}
.evidence-lib .evidence-inputs input {
  min-width: 400px !important;
}
.evidence-lib .evidence-inputs .btn-secondary {
  margin-right: 12px;
}
.evidence-lib select {
  margin-right: 12px;
}
.evidence-lib .tab-pane {
  padding-top: 20px;
}
.evidence-lib .caps th {
  text-transform: uppercase;
}
.evidence-lib header {
  display: flex;
}
.evidence-lib .file-uploader {
  background: #ffeff8;
  border: 2px dashed #ff22a5;
  margin: 12px 0;
  padding-top: 24px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  flex-wrap: wrap;
  color: #eb008b;
  flex-direction: column;
}
.evidence-lib .file-uploader i {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 12px;
}
.evidence-lib .file-uploader p {
  font-weight: bold;
  font-size: 20px;
}
.evidence-lib .btn-primary {
  background: #359030 !important;
  border-color: #359030 !important;
}
.evidence-lib .upload-but {
  text-align: right;
}
.evidence-lib .evidence-header {
  display: flex;
  justify-content: space-between;
}
.evidence-lib .table thead th {
  background: #333;
  color: aliceblue;
  font-weight: normal;
  padding: 2px 12px;
  border-bottom: 0;
}

.browse {
  margin-right: 10px;
}

#header-text {
  margin-top: auto;
  margin-bottom: auto;
}
